{% extends "coleta/template.html" %}
{% load static %}

{% block title %} Página de Coleta | Coleta de Notícias {% endblock %}
{% block subtitle %} Página de Coleta | Coleta de Notícias {% endblock %}

{% block content %}

  <script src="{% static 'coleta/js/index.js' %}"></script>
  <h1>Projetos</h1>
  
  {% for projeto in projetos %}
    <div class="row">
      <div class="col card_col">
        <div>
          {{ projeto }} <button data-projeto="{{projeto.id}}" class="btn btn-outline-primary coletar_btn">Coletar dados</button>
        </div> 

        <div>
          <a  target="_blank" class="btn btn-outline-success" href="{% url 'dashboard:projeto' projeto_id=projeto.id %}">Acessar o projeto</a> 
        </div>

        <ul class="lista_interna">
          {% for palavra_chave in projeto.palavras_chaves.all %}
            <li>
              <div>
                {{palavra_chave.palavra_chave}} 
                <button data-projeto="{{projeto.id}}" data-palavra_chave="{{palavra_chave.id}}" class="btn btn-outline-primary coletar_btn">Coletar dados</button>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  {% empty %}
    <h3>Nenhum projeto foi encontrado!</h3>

  {% endfor %}

{% endblock %}