{% extends "coleta/template.html" %}
{% load ft_traduzir %}
{% load static %}

{% block title %} {% ft_traduzir 'Página de Coleta' %} | {% ft_traduzir 'Coleta de Notícias' %} {% endblock %}
{% block subtitle %} {% ft_traduzir 'Página de Coleta' %} | {% ft_traduzir 'Coleta de Notícias' %} {% endblock %}

{% block content %}

  {% if idioma == 'pt-br' %}
    <script src="{% static 'coleta/js/index.js' %}"></script>
  {% else %}
    <script src="{% static 'coleta/js/index_en.js' %}"></script>
  {% endif %}
  
  <h1>{% ft_traduzir 'Projetos' %}</h1>
  
  {% for projeto in projetos %}
    <div class="row">
      <div class="col card_col">
        <div>
          {{ projeto }} <button data-projeto="{{projeto.id}}" class="btn btn-outline-primary coletar_btn">{% ft_traduzir 'Coletar dados' %}</button>
        </div> 

        <div>
          <a  target="_blank" class="btn btn-outline-success" href="{% url 'dashboard:projeto' projeto_id=projeto.id %}">{% ft_traduzir 'Acessar o projeto' %}</a> 
        </div>

        <ul class="lista_interna">
          {% for palavra_chave in projeto.palavras_chaves.all %}
            <li>
              <div>
                {{palavra_chave.palavra_chave}} 
                <button data-projeto="{{projeto.id}}" data-palavra_chave="{{palavra_chave.id}}" class="btn btn-outline-primary coletar_btn">{% ft_traduzir 'Coletar dados' %}</button>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  {% empty %}
    <h3>{% ft_traduzir 'Nenhum projeto foi encontrado!' %}</h3>

  {% endfor %}

{% endblock %}