{% extends "coleta/template.html" %}
{% load ft_traduzir %}
{% load static %}

{% block title %} Dashboard | {% ft_traduzir 'Coleta de Notícias' %} {% endblock %}
{% block subtitle %} Dashboard | {{projeto.id}} - {{projeto.nome}}{% endblock %}

{% block content %}

  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/datatables.min.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/DataTables-1.13.6/css/dataTables.bootstrap5.min.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/FixedHeader-3.4.0/css/fixedHeader.bootstrap5.min.css' %}" >

  <script src="{% static 'dashboard/datatables/datatables.min.js' %}" ></script>
  <script src="{% static 'dashboard/datatables/DataTables-1.13.6/js/dataTables.bootstrap5.min.js' %}" ></script>
  <script src="{% static 'dashboard/datatables/FixedHeader-3.4.0/js/fixedHeader.bootstrap5.min.js' %}"></script>

  
  {% if idioma == 'pt-br' %}
    <script src="{% static 'dashboard/js/processamento.js' %}"></script>
  {% else %}
    <script src="{% static 'dashboard/js/processamento_en.js' %}"></script>
  {% endif %}

  <input type="hidden" id="projeto_id" value="{{projeto.id}}" />

  <div class="row">
    <div class="col card_col">
      <div style="margin-bottom: 13px;">
        <h5>{% ft_traduzir 'Notícias' %}</h5>
      </div> 
      
      <div>
        <table id="tabela_noticias" class="table table-striped-columns">
          <thead>
            <td class="table-dark">ID</td>
            <th class="table-dark">SITE</th>
            <th class="table-dark">{% ft_traduzir 'NOTÍCIA' %}</th>
            <th class="table-dark">LINK</th>
            <th class="table-dark">{% ft_traduzir 'AÇÕES' %}</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div class="text-start" id="div_metricas_rotulos_calculados">
        
      </div>

      <div class="text-start" id="div_metricas_rotulos_reais">
        
      </div>

    </div>
  </div>

  <div class="row">

    <div class="col card_col">
      
      <div class="row text-start">
        <div class="input-group mb-3">
          <label class="input-group-text" for="id_processamento">{% ft_traduzir 'ID Processamento' %}</label>
          <input id="id_processamento" class="form-control" placeholder="{% ft_traduzir 'Insira a ID de processamento (opcional)' %}">
          <button class="btn btn-secondary" style="margin: 0" id="carregar_processamento">{% ft_traduzir 'Carregar processamento' %}</button>
        </div>
      </div>

      <div style="margin-bottom: 13px;">
        <button id="executar_processamento" class="btn btn-success">{% ft_traduzir 'Executar processamento' %}</button>
        <button id="historico_processamento" class="btn btn-secondary">{% ft_traduzir 'Ver histórico de processamento' %}</button>
        <button id="carregar_noticias" class="btn btn-secondary">{% ft_traduzir 'Carregar outras notícias' %}</button>
        <br>
        <small>{% ft_traduzir 'Ao fechar esta aba, este processamento será finalizado!' %}</small>
      </div>
      
      <div class="row text-start">
        <div class="mb-3">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="salvar_noticias">
            <label class="form-check-label" for="salvar_noticias">{% ft_traduzir 'Salvar as notícias automaticamente?' %}</label>
          </div>
        </div>
      </div>
      
      <div class="text-start" id="div_totais_atual">
        
      </div>
      
      <div class="text-start" id="div_totais_analise">
        
      </div>

      <div>
        <h5>{% ft_traduzir 'Notícias relevantes' %}</h5>
        <table id="tabela_processamento1" class="table table-striped-columns">
          <thead>
            <td class="table-dark">ID</td>
            <th class="table-dark">SITE</th>
            <th class="table-dark">{% ft_traduzir 'NOTÍCIA' %}</th>
            <th class="table-dark">LINK</th>
            <th class="table-dark">{% ft_traduzir 'PONTUAÇÃO REF.REAL' %}</th>
            <th class="table-dark">{% ft_traduzir 'PONTUAÇÃO REF.NÃO REAL' %}</th>
            <th class="table-dark">{% ft_traduzir 'ANÁLISE' %}</th>
            <th class="table-dark">{% ft_traduzir 'CLASSIFICADORES' %}</th>
          </thead>
          <tbody>
          </tbody>
        </table>

        <h5>{% ft_traduzir 'Notícias sobre outros assuntos' %}</h5>
        <table id="tabela_processamento2" class="table table-striped-columns">
          <thead>
            <td class="table-dark">ID</td>
            <th class="table-dark">SITE</th>
            <th class="table-dark">{% ft_traduzir 'NOTÍCIA' %}</th>
            <th class="table-dark">LINK</th>
            <th class="table-dark">{% ft_traduzir 'PONTUAÇÃO REF.REAL' %}</th>
            <th class="table-dark">{% ft_traduzir 'PONTUAÇÃO REF.NÃO REAL' %}</th>
            <th class="table-dark">{% ft_traduzir 'ANÁLISE' %}</th>
            <th class="table-dark">{% ft_traduzir 'CLASSIFICADORES' %}</th>
          </thead>
          <tbody>
          </tbody>
        </table>

      </div>
  </div>
  
  <!-- Modal de histórico -->
  <div class="modal fade" data-toggle="modal" data-backdrop="static" data-keyboard="false" id="modal_historico" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"> <b>{% ft_traduzir 'Histórico de processamento' %}</b> </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% ft_traduzir 'Fechar' %}</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}