{% extends "coleta/template.html" %}
{% load ft_traduzir %}
{% load static %}

{% block title %} Dashboard | {% ft_traduzir 'Coleta de Notícias' %} {% endblock %}
{% block subtitle %} Dashboard | {{projeto.id}} - {{projeto.nome}}{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/datatables.min.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/DataTables-1.13.6/css/dataTables.bootstrap5.min.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/datatables/FixedHeader-3.4.0/css/fixedHeader.bootstrap5.min.css' %}" >
  
  <script src="{% static 'dashboard/datatables/datatables.min.js' %}" ></script>
  <script src="{% static 'dashboard/datatables/DataTables-1.13.6/js/dataTables.bootstrap5.min.js' %}" ></script>
  <script src="{% static 'dashboard/datatables/FixedHeader-3.4.0/js/fixedHeader.bootstrap5.min.js' %}"></script>

  {% if idioma == 'pt-br' %}
    <script src="{% static 'dashboard/js/projeto.js' %}"></script>
  {% else %}
    <script src="{% static 'dashboard/js/projeto_en.js' %}"></script>
  {% endif %}

  <input type="hidden" id="projeto_id" value="{{projeto.id}}" />

  <div class="row">
    <div class="col card_col">
      <div style="margin-bottom: 13px;">
        <a href="{% url 'dashboard:processamento' projeto_id=projeto.id %}" target="_blank" class="btn btn-primary">{% ft_traduzir 'Apresentar dez notícias' %}</a>
      </div>
    </div>
  </div>

  {% for chave in chaves %}
    <div class="row">
      <div class="col card_col">
        <div style="margin-bottom: 13px;">
          {% ft_traduzir 'Palavra-chave' %}: <b>{{chave.chave}}</b>
        </div> 
  
        <div class="row">
          {% for site in chave.sites %}
            
            <div class="col-lg-3 col-md-4 col-sm-6">
              {{site.site}}: <b>{{site.noticias}}</b>
            </div>

            {% empty %}
              <h3>{% ft_traduzir 'O projeto não possui sites vinculados!' %}</h3>
  
          {% endfor %}
        </div>

      </div>
    </div>

    {% empty %}
      <h3>{% ft_traduzir 'O projeto não possui palavras-chaves vinculadas!' %}</h3>

  {% endfor %}

  <div class="row">
    <div class="col card_col">
      <div style="margin-bottom: 13px;">
        <b>{% ft_traduzir 'Notícias gravadas (processadas)' %}:</b>
      </div> 
      
      <div>
        <table class="table table-striped-columns" id="tabela_noticias_processadas">
          <thead>
            <th class="table-dark">ID    </th>
            <th class="table-dark">SITE  </th>
            <th class="table-dark">{% ft_traduzir 'TÍTULO' %}</th>
            <th class="table-dark">URL   </th>
            <th class="table-dark">{% ft_traduzir 'AÇÕES' %} </th>
          </thead>
          <tbody>
            {% for noticia_processada in noticias_processadas %}
              
              <tr>
                <td>{{noticia_processada.noticia.id}}</td>
                <td>{{noticia_processada.noticia.site.nome}}</td>
                <td>{{noticia_processada.noticia.titulo}}</td>
                <td> <a class="btn btn-info btn-sm" href="{{noticia_processada.noticia.url}}" target="_blank">{% ft_traduzir 'Acessar' %}</a> </td>
                <td> <button class="btn btn-danger btn-sm deletar_noticia_processada" value="{{noticia_processada.id}}" target="_blank">{% ft_traduzir 'Deletar' %}</button> </td>
              </tr>
              
            {% endfor %}
          </tbody>
        </table>
      </div>
      
    </div>
  </div>

  <br>

{% endblock %}